
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>智能立体仓库</title>
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all">
    <script type="text/javascript" src="~/laydate/laydate.js"></script>
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <style type="text/css">
        .layui-nav .layui-nav-item .layui-nav-child a {
            padding-left: 40px
        }
    </style>
</head>
<body class="layui-layout-body">

    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">智能立体仓库</div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item Console"><a href="javascript:;">控制台</a></li>
                <li class="layui-nav-item Set"><a href="javascript:;">系统设置</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">

                        <span class="userName"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="UserData">基本资料</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;" class="out">退了</a></li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test" lay-shrink="all">
                    <li class="layui-nav-item"><a href="">报表</a></li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">WMS</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">WMS操作</a></dd>
                            <dd><a href="javascript:;" class="data">WMS基础资料</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item WCS" style="display:none">
                        <a href="javascript:;">WCS</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" class="wcsdata">WCS操作</a></dd>
                            <dd><a href="javascript:;">WCS基础资料</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title"></ul>
                    <div class="layui-tab-content">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-footer">
            www.cccc.ccc
        </div>

    </div>
    <script type="text/javascript">
        //$(function () {
        //    var d = "ds"
        //    d
        //    $.event
        //        .ajax({
        //            async
        //        })

        //})
    layui.config({
        base: '/js/'
        }).use(['element','layer','form','SELECT'], function () {
            var element = layui.element, form = layui.form, layer = layui.layer, $ = layui.jquery
            var indexs
            SELECT = layui.SELECT
            datamap = new Map();
            datas = new Array()
            $(document).ajaxStart(function () {
                 indexs= layer.msg('加载中...', {
                    icon: 16
                     , shade: 0.01
                     , time: false
                })
                datas = new Array()
            })
            $(".Set").click(function () {
                layer.open({
                    type: 2,
                    area: ['700px', '450px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: 'Home/SystemSe'
                });
            })
            //$(document).ajaxSuccess(function (event, xhr, options) {
            //    if (options.type != "POST") {
            //        var key = options.url.substring(options.url.lastIndexOf("/") + 1, options.url.indexOf("?"))
            //        if (key.substring(0,5) == "check") {
            //            datamap.set(key, xhr.responseJSON)

            //        }
            //    }
            //})
            //$(document).ajaxSend(function (event, xhr, options) {
            //    console.log(event)
            //    console.log(xhr)
            //    console.log(options)
            //})
            $(document).ajaxStop(function () {
                layer.close(indexs)
                for (var i = 0; i < datas.length; i++) {              
                    $("tbody tr:eq(" + i + ")").find(".WHID").val(datas[i].WHID)
                    $("tbody tr:eq(" + i + ")").find(".StorageLocationID").val(datas[i].StorageLocationID)
                    $("tbody tr:eq(" + i + ")").find(".WHAreaID").val(datas[i].WHAreaID)
                    $("tbody tr:eq(" + i + ")").find(".MachineTypeID").val(datas[i].MachineTypeID)
                    $("tbody tr:eq(" + i + ")").find(".PlaceTypeID").val(datas[i].PlaceTypeID)
                    $("tbody tr:eq(" + i + ")").find(".Category1").val(datas[i].Category1)
                }
                form.render()
                })
            if ('@Session["user"]' != undefined && '@Session["user"]'!="") {
                $(".userName").text('@Session["user"]')
                if ('@Session["WCS"]' == 'True') {
                    $(".WCS").show()
                }
            } else {
                $(".userName").text("未登录")
            }
            $(".out").click(function () {
                layer.confirm('确认退出?', { icon: 3, title: '提示' }, function (index) {
                    if ($(".userName").text() == "未登录") {
                        layer.msg("你还没有登陆", { icon:5 })
                    } else {
                    $.get("/Home/OutUser", function (data) {
                        if (data == "true") {
                            location.reload()
                        }
                        })
                    }
                });
            })
            $(".Console").click(function () {
                $(".WCS a").click()
                $('.wcsdata').click()
                element.tabChange('docDemoTabBrief', 12);
            })
            $(".UserData").click(function () {
                    $('.data').click()
                    element.tabChange('docDemoTabBrief', 11);
            })
            element.on('nav(test)', function (elem) {
                switch (elem.text()) {
                    case "WMS操作":
                        $(".layui-tab-title").empty()
                        $(".layui-tab-title").append("<li>出库入库</li><i>/WMS/Enter</i>")
                        break;
                    case "WMS基础资料":
                        var stu = "<li lay-id=11 class='log'>WMS-基础资料-员工登陆</li><i>/WMS/login</i>"
                        if ($(".userName").text()!="未登录") {
                            stu = "<li lay-id=11 class='log'>WMS-基础资料-员工信息</li><i>/Home/UserData</i>"
                        }
                        $(".layui-tab-title").empty()
                        $(".layui-tab-title").append(stu+
                            "<li>WMS-基础资料-货位</li><i>/WMS/GoodsArea</i>" +
                            "<li>WMS-基础资料-库区</li><i>/WMS/WarehouseArea</i>" +
                            "<li>WMS-基础资料-库位</li><i>/WMS/WarehousePosition</i>" +
                            "<li>WMS-基础资料-仓库</li><i>/WMS/Warehouse</i>" +
                            "<li>WMS-基础资料-物料信息注册</li><i>/WMS/Material</i>" +
                            "<li>WMS-基础资料-库存限制维护</li><i>/WMS/Inventory</i>" +
                            "<li>WMS-基础资料-策略</li><i>/WMS/Strategy</i>" )
                        break;
                    case "WCS操作":
                        $(".layui-tab-title").empty()
                        $(".layui-tab-title").append("<li>仓库实时运行状况</li><i>/WCS/WarehouseState</i><li lay-id=12>控制台</li><i>/WCS/Console</i>")
                        break;
                    case "WCS基础资料":
                        $(".layui-tab-title").empty()
                        $(".layui-tab-title").append("<li>命令分解</li><i>/WCS/Command</i><li>机器信息注册</li><i>/WCS/Machine</i><li>功能位置信息注册</li><i>/WCS/Functional</i>")
                        break;
                }
            });
            element.on('tab(docDemoTabBrief)', function (data) {
                var url = data.elem.find("li:eq(" + data.index + ")").next().text();
                if (url != "/WMS/login") {
                    if ('@Session["user"]' != null && '@Session["user"]' != "") {
                        $.ajaxSetup({
                            cache: false
                        })
                            for (var la in layui.cache.event) {
                                if (la != "element.nav" && la != "element.tab") {
                                    layui.cache.event[la] = null
                                }
                        }
                       
                        $(".layui-tab-content").load(url, function () {
                            form.render()
                        })
                    } else {
                        layer.msg("请先登陆", { icon: 5 })
                    }
                } else {
                    $.ajaxSetup({ cache: false });
                    $(".layui-tab-content").empty()
                    $(".layui-tab-content").load(url, function () {
                        form.render()
                    })
                }
            });
            $('.data').click()
            element.tabChange('docDemoTabBrief', 11)
        });
    </script>
</body>
</html>
